.rech {
    text-align:center;
    font-size: 20px;
}
#srch {
    font-size: 25px;
    font-family: 'Bree Serif';
}

.a {
    display: flex;
    height: 65px;
    border: 5px solid black;
    width: 35%;
    border-radius: 15px;
    background-color: navajowhite;
    margin: 2% auto;
    transition: 300ms;
}
.nd {
    display: flex;
}

.a:hover{
    box-shadow: 0 0 20px gold;
    height: 70px;
}

#name {
    font-size: 25px;
    padding-top: 15px;
    padding-left: 20px;
    font-family: 'Bree Serif';
}

#date {
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 15px;
}

#consult {
    background-color: mediumseagreen;
    height: 50px;
    border: 3px double lime;
    border-radius: 20px;
    font-size: 22px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}