.item{
    border:2px solid black;
    width:200px;
    height:300px;
    border-radius:6px;
    position: absolute;
    background-color: white;
}

.item .vitrine{
    width: 100%;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    border-bottom: solid black 2px;
}

.item .buy{
    position: absolute;
    width: 30%;
    height:30px;
    border-style: none;
    border-radius: 6px;
    background-color:  #f9d300 ;
    cursor: pointer;
    color:black;
    bottom:5px;
    left: 35%;
}