*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
    color: #ffcc00;
}

a:visited{
    color: #ffcc00;
    text-decoration: none;
}

body {
    background-color: lightgray;
}

#Menu {
    background-color: black;
    border-bottom: 5px solid #ffcc00;
    border-right: 5px solid #ffcc00;
    border-left: 5px solid #ffcc00;
    padding-top: .1%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 2%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    color: #ffcc00;
}

#Menu ul {
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}
   
#Menu li {
    cursor:pointer;
}

#Menu li:hover {
    text-shadow: .5px .5px .5px #ffcc00;
    transition: 100ms;
}

#Titre {
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    height: 80px;
    text-align: center;
    border-bottom: 5px solid black;
    margin-left: -0.7%;
    margin-right: -0.7%;
    margin-top: -.7%;
    padding-bottom: 1%;
    background-color: #ffcc00;
}

#Titre img{
    width: auto;
    height: 80px;
}

.item{
    border:2px solid black;
    width:200px;
    height:300px;
    border-radius:6px;
    position: absolute;
    background-color: white;
    margin: 5%;
}

.item .vitrine{
    width: 100%;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    border-bottom: solid black 2px;
}

.item .buy{
    position: absolute;
    width: 100%;
    height:30px;
    bottom: 0%;
    border-style: none;
    border-radius: 6px;
    background-color:  #f9d300 ;
    transition: 1s;
    cursor: pointer;
    color:black;
}

.buy:hover {
    background-color: limegreen;
    transition: 1s;
}

.buy-container{
    position: absolute;
    border: solid 2px #f9d300;
    border-radius: 9px;
    width:50%;
    right:5%;
    bottom: 10px;
    height: 30px;
    transition: 500ms linear;
}

.buy-container:hover{
    height: 20%;
    transition: 500ms linear;
    border: solid 2px limegreen;
    background-color: limegreen;
}

.item .quantity{
    position: absolute;
    top:0%;
    z-index: 0;
}

.item .quantity .number{
    width:20%;
    background-color: lightgreen;
}

.quantity {
    border: 2px solid black;
    border-radius: 7px;
}

.minus,.plus{
    cursor: pointer;
    border: solid 3px transparent;
    width: 33.7%;
    height: 20%; 
    background-color: transparent ;
}

.minus:hover,.plus:hover{
    background-color: green ;
    transition: 400ms linear;
}

.minus {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
