* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 1;
}

body{
    background-color: rgb(13, 13, 13);
}

.item {
    border: 1px solid;
    border-color:  rgb(255, 204, 0);
    width: 250px;
    height: 350px;
    border-radius: 6px 6px 25px 25px;
    margin-left: 10%;
    box-shadow: 3px 3px 15px black;
    background-color: rgb(13, 13, 13);
}

.Minia {
    width: 100%;
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    border-bottom: solid rgb(255, 204, 0) 1px;
    max-height: 150px;
}

.item .buy {
    position: absolute;
    text-align: center;
    width: 75%;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background-color:rgb(255, 204, 0);
    cursor: pointer;
}

.buy-container:hover {
    height: 60px;
    transition: 200ms linear;
}

.item .quantity {
    position: absolute;
    bottom: 6%;
    width: 100%;
    left: 10%;
    z-index: 0;
}

.item .quantity .number {
    width: 20px;
}

.minus,
.plus {
    cursor: pointer;
    border: solid 2px rgb(255, 204, 0);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0px;
    padding-bottom: 2px;
    color: rgb(255, 204, 0);
    background-color: rgb(13, 13, 13);
}

.minus:hover,
.plus:hover {
    background-color: #bfbfbf;
    transition: 400ms linear;
}

p.title {
    text-align:center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:95%;
    font-variant: small-caps;
    font-weight: bold;
}

p.artist {
    padding: 0%;
    margin: auto;
    color: rgb(255, 204, 0);
    font-family: Verdana;
    text-align:center;
    font-style: italic;
    font-variant: small-caps;
    font-size:90%;
}

p.artist:hover {
    padding: 0%;
    margin: auto;
    color: rgba(255, 204, 0, 0.61);
    font-family: Verdana;
    text-align:center;
    font-style: italic;
    font-size:90%;
}

p.desc {
    padding: 4%;
    margin: auto;
    color: white;
    font-family: Verdana;
    text-align:center;
    font-style: italic;
    font-size:70%;
}

.ArtistLogo {
        width: 30px;
        height: 30px;
        color: rgb(255, 204, 0)
}


hr {
    border-top: 8px solid rgba(255, 204, 0, 0.61);
    border-radius: 5px;
}

#container-shop{
       display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px 0px;
    width: 70%;
    max-width: 1100px;
    margin-left: 15%;
    margin-right: auto;
}

.bouton {
    margin-left: auto;
    margin-right: auto;
}
